* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	backdrop-filter: blur(8px);
	background-color: #d33338;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	height: 100vh;
	overflow-x: hidden;
	padding: 10px 10px 10px 0px;
	width: 100vw;
}

header {
	height: 100px;
}

main {
	flex-grow: 1;
}

h1 {
	margin-bottom: 10px;
}

.galeria-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

.pesquisa-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 100%;
}

input {
	border: none;
	border-radius: 7.5px;
	font-size: 17px;
	outline: none;
	padding: 15px;
	width: 50%;
}

.galeria-items {
	border: 10px solid #fff;
	display: block;
	flex-grow: 1;
	max-height: 350px;
	max-width: 241.25px;
	min-height: 350px;
	min-width: 241.25px;
	overflow: hidden;
	transition: all 0.65s ease;
}

.galeria-items:hover {
	box-shadow: 10px 10px 20px #000;
}

.galeria-items img {
	filter: grayscale(100%);
	height: 100%;
	object-fit: cover;
	transition: all 0.65s ease;
	width: 100%;
}

.galeria-items img:hover {
	filter: grayscale(0%);
	transform: scale(1.3);
}

.slide {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: -999;
}

.slide:target {
	opacity: 1;
	z-index: 999;
}

.slide .imagem-container {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

.slide .icones {
	align-items: center;
	background-color: #000;
	color: #fff;
	display: flex;
	height: 40px;
	justify-content: center;
	position: absolute;
	text-decoration: none;
	width: 40px;
}

.slide .fechar {
	font-size: 1.5rem;
	right: 0;
	top: 0;
	transition: all 0.1s ease;
}

.slide .fechar:hover {
	background-color: #ff4949;
}

.slide .anterior {
	font-size: 2rem;
	left: 0;
}

.slide .proximo {
	font-size: 2rem;
	right: 0;
}

footer {
	font-size: 1rem;
	font-weight: 100;
	height: 50px;
	margin-top: 10px;
}

.center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@media (max-width: 1280px) {
	body {
		background-color: #d33338;
		background-image: none;
	}
}

@media (min-width: 1024px) {
	body {
		padding: 10px 10px 10px 5px;
	}
}

@media (max-width: 414px) {
	h1 {
		font-size: 42px;
	}
}
